APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kolkata
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=smtp
MAIL_HOST=peersunity.com
MAIL_PORT=587
MAIL_USERNAME=pravin@peersunity.com
MAIL_PASSWORD="PASTE_ACTUAL_CYBERPANEL_EMAIL_PASSWORD_HERE"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=pravin@peersunity.com
MAIL_FROM_NAME="Peers Global Unity"
ACTIVITY_ADMIN_INBOX=

MEMBERSHIP_UPDATE_FROM_EMAIL=pravin@peersunity.com
MEMBERSHIP_UPDATE_FROM_NAME="Peers Global Unity"
MEMBERSHIP_UPDATE_ATTACHMENT_PATH=storage/app/public/membership/membership-update.pdf
MEMBERSHIP_WELCOME_FROM_EMAIL=pravin@peersunity.com
MEMBERSHIP_WELCOME_FROM_NAME="Peers Global Unity"
MEMBERSHIP_WELCOME_ATTACHMENT_PATH_1=storage/app/public/membership/welcome-file-1.pdf
MEMBERSHIP_WELCOME_ATTACHMENT_PATH_2=storage/app/public/membership/welcome-file-2.pdf

MEMBERSHIP_WELCOME_EMAIL_ENABLED=true

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


MEMBERS_WITH_CIRCLES_FIXED_TOKEN="302|cO0VMR2dmr9j8c3JtIU9dfkuZfSfvzaCCF1GVxJAdc6fdd2d"

FIREBASE_PROJECT_ID=
FIREBASE_CREDENTIALS_PATH=
FIREBASE_DEFAULT_ANDROID_CHANNEL_ID=default
